<h2>About us! 👪</h2>
<p>Consectetur adipiscing elit. Duis maximus consectetur nibh, at elementum ligula viverra non. Maecenas viverra nisl bibendum egestas efficitur. Phasellus luctus interdum dui, at congue sem dignissim vel. Praesent accumsan non dolor et blandit. Pellentesque a volutpat mauris. Donec ac quam a lectus fermentum viverra et a sem. Nam eleifend bibendum erat ac varius. Donec consequat, nulla et hendrerit dapibus, augue sapien hendrerit metus, ac pharetra nisi massa sed dui. Nulla ut fermentum velit. Quisque congue metus a odio sodales sodales. Vivamus vitae scelerisque erat. Nunc congue, metus non auctor placerat, nibh leo facilisis ex, vitae tempor magna nunc a sapien. Ut vehicula, nisi eget dapibus tempor, nulla est suscipit odio, quis consectetur urna ipsum id nisl.</p>

<h3>Meet our team!</h3>
<ol>
  <% @members.each do |member| %>
    <li><%= member.capitalize %></li>
  <% end %>
</ol>

<%= link_to "<- Back to home", root_path %>